<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/subject" routerLinkActive="active">Subjects</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
