<div class="input-field">
  <label class="active">{{ placeholder }}</label>
  <div mChips (update)="handleUpdate($event)" [placeholder]="placeholder" [default]="default">

  </div>
  <div [class.error]="nbChips < 1">Manque de donnée</div>
</div>
