<form [formGroup]="createForm" (ngSubmit)="handleSubmitAction()">
  <div class="input-field">
    <label for="title">Title</label>
    <input id="title" formControlName="title">
  </div>
  <chips placeholder="Ajouter des mots clé" (update)="updateKeywords($event)"></chips>
</form>
