<div class="container">
  <div class="row">
    <div class="col s4">
      <ul>
        <li routerLink="./add" routerLinkActive="active">Ajouter</li>
        <li routerLink="./list" routerLinkActive="active">Liste</li>
      </ul>
    </div>
    <div class="col s8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
